{% set categories = categoryTree.collect %}
<header class="sticky top-0 bg-base-100 border-b border-solid border-base-200 z-50">
    {#    {% include '_partials/_usps.html.twig' %} #}
    <div class="container mx-auto px-5 xl:px-0">
        <div class="gap-8 grid grid-cols-3 md:grid-cols-6 lg:grid-cols-7 xl:grid-cols-8">
            {% if device.isSmartphone %}
                <div class="flex items-center">
                    {% include '_partials/mobile/_navigation.html.twig' %}
                </div>
            {% endif %}
            <a href="{{ path('app_home') }}" class="pt-3 pb-3">
                <picture class="logo_full">
                    <source srcset="{{ asset('build/assets/images/logo.png'|cdn('auto', 400, 144)) }}"/>
                    <img width="150" height="72" src="{{ asset('build/assets/images/logo.png'|cdn('auto', 200, 72)) }}" alt="logo"/>
                </picture>
            </a>
            <div class="hidden lg:flex items-center justify-center bg-neutral">
                <div class="menu-items flex w-full h-full">
                    <div class="flex gap-10 w-full h-full">
                        <div tabindex="0" class="dropdown cursor-pointer py-4 px-7 leading-5 w-full h-full">
                            <label class="title cursor-pointer text-neutral-content">
                                <small class="block">{{ 'View all'|trans }}</small>
                                <span class="font-bold">{{ 'Categories'|trans }}</span>
                            </label>
                            <div tabindex="0" class="dropdown-content card card-compact w-full shadow bg-base-100" style="width: 30rem">
                                <div class="card-body grid border-base-200 grid-cols-2 gap-0" style="padding: 0;">
                                    {% for category in categories %}
                                        <div class="hover:bg-accent hover:text-white border-r border-b border-solid border-base-200 py-4 px-4">
                                            <a class="flex" href="/{{ category['url_path'] }}">
                                                <span class="grow">{{ category['name'] }}</span>
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-span-4 xl:col-span-5 justify-center items-center hidden md:flex">
                <div class="form-control w-2/3">
                    <form action="{{ path('app_catalog_search') }}" class="input-group" method="get">
                        <input
                                aria-label="Search products and categories"
                                type="search"
                                {% if app.request.query.get('q') %}
                                    value="{{ app.request.query.get('q') }}"
                                {% endif %}
                                name="q"
                                placeholder="{{ 'Where are you looking for?'|trans }}"
                                class="input input-bordered input-accent grow"
                        />
                        <button aria-label="{{ 'Where are you looking for?'|trans }}" class="btn btn-square btn-accent" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
            <div class="flex gap-2 items-center justify-end">
                {% if isLoggedIn() %}
                    <div class="dropdown dropdown-hover dropdown-bottom dropdown-end">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 aspect-square">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"/>
                        </svg>
                        <ul tabindex="1" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-72">
                            <li>
                                <a
                                        class="{% if app.request.get('_route') == 'app_customer' %}active bg-accent{% endif %} focus:bg-accent text-accent-content"
                                        href="{{ path('app_customer') }}"
                                >{{ 'Account overview'|trans }}</a>
                            </li>
                            <li>
                                <a
                                        class="{% if 'app_customer_order' in app.request.get('_route') %}active bg-accent{% endif %} focus:bg-accent text-accent-content"
                                        href="{{ path('app_customer_order_overview') }}"
                                >{{ 'My orders'|trans }}</a>
                            </li>
                            <li>
                                <a
                                        class="{% if 'app_customer_address' in app.request.get('_route') %}active bg-accent{% endif %} focus:bg-accent text-accent-content"
                                        href="{{ path('app_customer_address') }}"
                                >{{ 'Addresses'|trans }}</a>
                            </li>
                            <li>
                                <a
                                        class="{% if 'app_customer_general' in app.request.get('_route') %}active bg-accent{% endif %} focus:bg-accent text-accent-content"
                                        href="{{ path('app_customer_general') }}"
                                >{{ 'Account details'|trans }}</a>
                            </li>
                            <li>
                                <a class="focus:bg-accent text-accent-content"
                                   href="{{ path('app_customer_logout') }}">{{ 'Logout'|trans }}</a>
                            </li>
                        </ul>
                    </div>
                {% else %}
                    <a href="{{ path('app_customer') }}" aria-label="customer portal grow">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 aspect-square">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"/>
                        </svg>
                    </a>
                {% endif %}
                <header-wishlist :wishlist="{{ wishlistHeader()|json_encode }}"></header-wishlist>
                <header-cart item-count="{{ checkoutCartItemCount() }}"></header-cart>
            </div>
        </div>
    </div>
    {% if device.isSmartphone != true %}
        {% include '_partials/_navigation.html.twig' %}
    {% endif %}
</header>