<div class="mt-4 py-8 col-start-3 col-span-4 container border border-base-300 rounded-box shadow-md border-solid grid justify-center" {{ attributes }}>
    <div class="checkout-step-container grid">
        <h2 class="text-2xl mt-4">{{ '2. Shipping method'|trans }}</h2>
        {% if errors %}
            {{ errors|json_encode }}
        {% endif %}
        <div class="checkout__shipment-container mt-6 grid gap-4 mb-4">
            <div class="checkout__shipment-shipping-methods w-full grid gap-6">
                {% for shippingMethod in shippingMethods %}
                    <div
                            class="checkout__shipment-shipping-method {% if shippingMethod['carrier_code'] == selectedShippingMethod['carrier_code'] ?? '' %} shadow-red border-accent {% else %} border-base-200 {% endif %} cursor-pointer flex gap-4 items-center border border-solid py-3 px-8 w-full rounded-box shadow-md"
                            data-action="click->live#action"
                            data-action-name="setSelectedShippingMethod(carrierCode={{ shippingMethod['carrier_code'] }}, methodeCode={{ shippingMethod['method_code'] }})"
                    >
                        <img width="40" height="40" src="{{ asset('build/assets/images/postnl.png')|cdn('auto', 'square', 45) }}" alt="{{ shippingMethod['carrier_title'] }}">
                        <div class="checkout__shipment-shipping-method-details grow">
                            <strong>{{ shippingMethod['carrier_title'] }}</strong>
                            <small>{{ shippingMethod['carrier_title'] }}</small>
                        </div>
                        <strong>{{ shippingMethod['price_incl_tax']['value']|format_currency('EUR', [], 'nl_NL') }}</strong>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="reviews" class="divider lg:divider-vertical"></div>
        <div class="checkout__address-actions mt-4 grid gap-4 grid-cols-2 items-center content-center">
            <a class="link" href="{{ path('app_checkout_address') }}">&lt;&lt; {{ 'Back to address'|trans }}</a>
            <button
                    class="btn text-accent-content btn-accent btn-sm text-right"
                    data-action="click->live#action"
                    data-action-name="prevent|saveShippingMethod"
            >
                <svg data-loading class="animate-spin -ml-1 mr-3 h-5 w-5 text-accent-content" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
                <span data-loading="hide">
                    {{ 'Next step'|trans }}&gt;&gt;
                </span>
            </button>
        </div>
    </div>
</div>