{% extends 'base.html.twig' %}
{% set showDivider = true %}

{% block title %}Checkout cart{% endblock %}

{% block body %}
    <div class="container mx-auto mt-4">
        <table class="w-full table table-normal">
            <thead>
            <tr>
                <td><strong>{{ 'Description'|trans }}</strong></td>
                <td><strong>{{ 'Quantity'|trans }}</strong></td>
                <td><strong>{{ 'Price'|trans }}</strong></td>
                <td><strong>{{ 'Row total'|trans }}</strong></td>
            </tr>
            </thead>
            <tbody>
            {% for item in cart['items'] %}
                {% include 'checkout/cart/_partials/item.html.twig' with {'item': item} %}
            {% endfor %}
            </tbody>
            <tfoot>
            {% for total in cart['prices'] %}
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        {% if loop.index == 1 %}
                            {{ 'Sub total'|trans }}
                        {% elseif loop.index ==2 %}
                            {{ 'Discount amount'|trans }}
                        {% elseif loop.index ==3 %}
                            {{ 'Tax amount'|trans }}
                        {% elseif loop.index ==4 %}
                            {{ 'Grand total'|trans }}
                        {% endif %}
                    </td>
                    <td>
                        &euro; {{ total['value'] ?? 0 }}
                    </td>
                </tr>
            {% endfor %}
            </tfoot>
        </table>
    </div>
{% endblock %}
