{% extends 'base.html.twig' %}
{% set showDivider = false %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <div class="carousel w-full">
        <div id="slide1" class="carousel-item relative w-full">
            <img alt="header_image" src="https://via.placeholder.com/1600x500" class="w-full"/>
        </div>
    </div>
    <div class="divider lg:divider-vertical w-full" style="margin-top: 2.5rem">
        <h2 style="font-size: 1.7rem; font-weight: bold">{{ 'Categories'|trans }}</h2>
    </div>
    <div class="container mx-auto  mt-10">
        <div class="category flex gap-10">
            {% for category in categories %}
                <a href="/{{ category['url_path'] }}" class="category__item relative rounded-full">
                    {% if null == category['image'] %}
                        <img alt="{{ category['name'] }}" src="https://via.placeholder.com/180" width="180" class="rounded-full aspect-square"/>
                    {% else %}
                        <img alt="{{ category['name'] }}" src="{{ category['image']|cdn('auto', 'square', '150') }}" width="180" class="rounded-full aspect-square"/>
                    {% endif %}
                    <span class="w-full h-full absolute top-0 flex justify-center items-center">
                        <strong class="text-white w-full bg-neutral/40 text-center block text-lg py-2 rounded-full">{{ category['name']|trans }}</strong>
                    </span>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="divider lg:divider-vertical w-full" style="margin-top: 2.5rem;">
        <h2 style="font-size: 1.7rem; font-weight: bold">{{ 'Our brands'|trans }}</h2>
    </div>
    <div class="container mx-auto mt-10">
        <div class="category grid lg:grid-cols-5 gap-5 mt-4 row">
            {% for brand in brands %}
                <a href="/{{ brand['url_path'] }}" class="category__item" aria-label="{{ brand['name'] }}">
                    <img alt="{{ brand['name'] }}" width="434" height="270" src="{{ brand['image']|cdn('auto', 434, 270) }}"/>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="seo_block flex gap-10 pr-20 mt-20 items-center mt-16 bg-base-300">
        <img class="grow" width="714" src="https://media2.cdn.bulkreefsupply.com/media/cache/7135e6e10e016ff97261056fa95c44b9/wysiwyg/home/cropped_coral_scene-816x464_1_.webp" alt="">
        <div class="divider lg:divider-horizontal w-full"></div>
        <div class="grow seo_block__content row">
            <h2 class="seo_block__title" style="font-size: 2rem; font-weight: bold">Quality Saltwater Aquarium Supplies
                with Expert Advice</h2>
            <p class="seo_block__text mt-3">
                We want to make reefing fun and easy. That's why we provide expert reefing knowledge and quality
                saltwater aquarium products. From saltwater tanks with clownfish and anemones to full-blown reef tanks,
                We have your reefing needs covered.
            </p>
            <div class="seo_block__usps flex mt-4">
                <strong class="usp grow">365 Day Returns</strong>
                <strong class="usp grow">Free Shipping</strong>
                <strong class="usp grow">Earn 5% Back</strong>
            </div>
        </div>
    </div>
    <div class="divider lg:divider-vertical w-full" style="margin-top: 2.5rem">
        <h2 style="font-size: 1.7rem; font-weight: bold">{{ 'Featured products'|trans }}</h2>
    </div>
    <div class="container mx-auto">
        <div class="product_row grid grid-cols-5 gap-4 mt-8 col-span-6">
            {% include 'catalog/_partials/product_list.html.twig' with {'items': featuredProducts, 'count': 5} %}
        </div>
    </div>
{% endblock %}
