{% if limit is defined %}
    {% set items = items|slice(0, limit) %}
{% endif %}

{% for item in items %}
    <div class="product_row__item card shadow-md">
        <a href="/{{ item['url_key'] }}" class="category__item">
            <div class="product_row__item-image-holder relative">
                <picture>
                    <img class="w-full aspect-square" src="{{ item['small_image']['url']|cdn('auto', 'square', 450) }}"/>
                </picture>
            </div>
            <div class="product_row__item-label absolute top-3 left-3">
                {% if item['price_range']['minimum_price']['discount']['amount_off'] > 0 %}
                    <label class="bg-error text-white py-1 px-2 w-full text-xs">
                        {{ item['price_range']['minimum_price']['discount']['percent_off'] }}% Sale
                    </label>
                {% endif %}
            </div>
            <div class="product_row__item-info py-4 px-3 grid grid-cols-4">
                <strong class="product_row__title mt-2 grow col-span-3">{{ item['name']|replace({'(': "<br />", ')': ''})|raw }}</strong>
                <div class="mt-2 text-right grid mr-1">
                    {% if item['price_range']['minimum_price']['discount']['amount_off'] > 0 %}
                        <small class="grow product_row__from_price line-through text-xs">
                            &euro;{{ item['price_range']['minimum_price']['regular_price']['value'] }}
                        </small>
                    {% endif %}
                    <strong class="grow product_row__final_price text-lg">
                        &euro;{{ item['price_range']['minimum_price']['final_price']['value'] }}
                    </strong>
                </div>
            </div>
        </a>
    </div>
{% endfor %}
