{% if limit is defined %}
    {% set items = items|slice(0, limit) %}
{% endif %}

{% for item in items %}
    <div class="product_row__item card shadow-md border">
        <a href="/{{ item['url_key'] }}" class="category__item">
            <div class="product_row__item-image-holder relative flex justify-items-center justify-center">
                <picture>
                    <source media="(max-width: 640px)" srcset="{{ item['small_image']['url']|cdn('auto', 'square', 335) }}">
                    <source media="(max-width: 678px)" srcset="{{ item['small_image']['url']|cdn('auto', 'square', 333) }}">
                    <source media="(max-width: 1024px)" srcset="{{ item['small_image']['url']|cdn('auto', 'square', 414) }}">
                    <img alt="{{ item['name'] }}" class="w-full aspect-square" src="{{ item['small_image']['url']|cdn('fit', 'square', 250) }}"/>
                </picture>
            </div>
            <div class="product_row__item-label absolute top-3 left-3">
                {% if item['price_range']['minimum_price']['discount']['amount_off'] > 0 %}
                    <label class="bg-error text-error-content py-1 px-2 w-full text-xs">
                        {{ item['price_range']['minimum_price']['discount']['percent_off'] }}% Sale
                    </label>
                {% endif %}
            </div>
        </a>
            <div class="product_row__item-info py-4 px-3 border-t border-solid border-base-300">
                <strong class="product_row__title mt-2">{{ item['name']|replace({'(': "<br />", ')': ''})|raw }}</strong>
                <div class="flex gap-10 mt-2">
                    <div>
                        {% if item['price_range']['minimum_price']['discount']['amount_off'] > 0 %}
                            <small class="grow product_row__from_price line-through text-xs">
                                {{ item['price_range']['minimum_price']['regular_price']['value']|format_currency('EUR', [], 'nl_NL') }}
                            </small>
                        {% endif %}
                        <strong class="grow product_row__final_price text-lg">
                            {{ item['price_range']['minimum_price']['final_price']['value']|format_currency('EUR', [], 'nl_NL') }}
                        </strong>
                    </div>
                    {{ component('catalog_category_configuration', {
                        product: item,
                    }) }}
                </div>
            </div>
    </div>
{% endfor %}
