{% extends 'manager/base.html.twig' %}

{% block title %}Hello ProductRegistrationController!{% endblock %}

{% block body %}
    <h1 class="text-4xl my-5">Product registration</h1>
    <div class="max-w-full">
        <form method="post" action="{{ path('app_manager_catalog_product_registration_upload') }}" enctype="multipart/form-data">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
            <label class="flex justify-center w-full h-24 px-4 transition bg-white border-2 border-gray-300 border-dashed rounded-md appearance-none cursor-pointer hover:border-gray-400 focus:outline-none">
            <span class="flex items-center space-x-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"/>
                </svg>
                <span class="font-medium text-gray-600">
                    Drop csv files to process, or
                    <span class="text-blue-600 underline">browse</span>
                </span>
            </span>
                <input onchange="this.form.submit()" type="file" name="uploadCsv" class="hidden">
            </label>
        </form>
    </div>
    <div class="overflow-x-auto mt-4">
        <table class="table w-full">
            <thead>
            <tr>
                <th>#</th>
                <th>SKU</th>
                <th>Supplier code</th>
                <th>Brand</th>
{#                <th>Product data</th>#}
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <th style="width: 3vh">{{ product.id }}</th>
                    <td>{{ product.sku }}</td>
                    <td>{{ product.supplierCode }}</td>
                    <td>{{ product.brand }}</td>
{#                    <td>{{ product.productData['name'] }}</td>#}
                    <td class="flex gap-3 justify-end">
                        <a class="text-warning" href="{{ path('app_manager_catalog_product_registration_edit', {product: 1}) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"/>
                            </svg>
                        </a>
                        <a class="text-error" href="{{ path('app_manager_catalog_product_registration_delete') }}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"/>
                            </svg>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
