{% extends 'manager/base.html.twig' %}

{% block title %}Product registration{% endblock %}

{% block body %}
    <h1 class="text-4xl my-5">Product registration</h1>
    <div class="max-w-full sticky left-0">
        <form method="post" action="{{ path('app_manager_catalog_product_registration_upload') }}" enctype="multipart/form-data">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
            <label class="flex justify-center w-full h-24 px-4 transition bg-white border-2 border-gray-300 border-dashed rounded-md appearance-none cursor-pointer hover:border-gray-400 focus:outline-none">
            <span class="flex items-center space-x-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"/>
                </svg>
                <span class="font-medium text-gray-600">
                    Drop csv files to process, or
                    <span class="text-blue-600 underline">browse</span>
                </span>
            </span>
                <input onchange="this.form.submit()" type="file" name="uploadCsv" class="hidden">
            </label>
        </form>
    </div>
    <div class="overflow-x-auto mt-4">
        <div class="pagination my-3 flex justify-between sticky left-0">
            {{ knp_pagination_sortable(pagination, 'Supplier Code', 'supplier_code', {class: 'btn btn-accent btn-sm'}) }}
            {{ knp_pagination_render(pagination) }}
{#            {{ knp_pagination_filter(pagination) }}#}
        </div>
        <table class="table w-full">
            <thead>
            <tr>
                <th>#</th>
                <th>SKU</th>
                <th>Supplier code</th>
                <th>Brand</th>
                <th>Product name</th>
            </tr>
            </thead>
            <tbody>
            {% for product in pagination %}
                <tr>
                    <th style="width: 7vh">{{ product.id }}</th>
                    <td>{{ product.sku }}</td>
                    <td>{{ product.supplierCode }}</td>
                    <td>{{ product.brand }}</td>
                    <td>{{ product.productData['name'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination mb-20 mt-3 flex justify-center sticky left-0">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
