{% extends 'base.html.twig' %}
{% set showDivider = true %}

{% block title %}{{ category['name'] }}{% endblock %}

{% block breadcrumbs %}
    <div class="container mx-auto">
        <div class="text-sm breadcrumbs">
            <ul>
                <li>
                    <a href="{{ path('app_home') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"/>
                        </svg>
                    </a>
                </li>
                {% for breadcrumb in category['breadcrumbs'] ?? [] %}
                    <li><a href="/{{ breadcrumb['category_url_path'] }}">{{ breadcrumb['category_name']|trans }}</a></li>
                {% endfor %}
                <li>{{ category['name']|trans }}</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container mx-auto">
        <h1 class="text-4xl">{{ 'Coral'|trans }} <small>({{ category['products']['total_count'] }})</small></h1>
        <div class="mt-8 grid grid-cols-8 gap-10">
            <div class="filters col-span-2">
                {% if category['children']|length > 0 %}
                    <div class="bg-base-200 p-4">
                        <h2 class="text-xl font-bold">{{ 'Subcategories'|trans }}</h2>
                        <ul class="mt-2">
                            {% for subCategory in category['children'] %}
                                <li>
                                    <a href="/{{ subCategory['url_path'] }}">{{ subCategory['name']|trans }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="filters__filter mt-4">
                    <h3 class="font-bold">{{ 'Size' }}</h3>
                    <div class="filters__filter-options mt-2">
                        <div class="filters__filter-option form-control">
                            <label class="cursor-pointer label flex gap-3">
                                <span class="label-text text-base">{{ 'T'|trans }}</span>
                                <input type="checkbox" class="checkbox checkbox-accent"/>
                            </label>
                        </div>
                        <div class="filters__filter-option form-control">
                            <label class="cursor-pointer label flex gap-3">
                                <span class="label-text text-base">{{ 'S'|trans }}</span>
                                <input type="checkbox" class="checkbox checkbox-accent"/>
                            </label>
                        </div>
                        <div class="filters__filter-option form-control">
                            <label class="cursor-pointer label flex gap-3">
                                <span class="label-text text-base">{{ 'M'|trans }}</span>
                                <input type="checkbox" class="checkbox checkbox-accent"/>
                            </label>
                        </div>
                        <div class="filters__filter-option form-control">
                            <label class="cursor-pointer label flex gap-3">
                                <span class="label-text text-base">{{ 'L'|trans }}</span>
                                <input type="checkbox" class="checkbox checkbox-accent"/>
                            </label>
                        </div>
                        <div class="filters__filter-option form-control">
                            <label class="cursor-pointer label flex gap-3">
                                <span class="label-text text-base">{{ 'XL'|trans }}</span>
                                <input type="checkbox" class="checkbox checkbox-accent"/>
                            </label>
                        </div>
                        <div class="filters__filter-option form-control">
                            <label class="cursor-pointer label flex gap-3">
                                <span class="label-text text-base">{{ 'XXL'|trans }}</span>
                                <input type="checkbox" class="checkbox checkbox-accent"/>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="filters__filter mt-4">
                    <h3 class="font-bold">{{ 'Coral options' }}</h3>
                    <div class="filters__filter-options mt-2">
                        <div class="filters__filter-option form-control">
                            <label class="cursor-pointer label flex gap-3">
                                <span class="label-text text-base">{{ 'Cultured corals'|trans }}</span>
                                <input type="checkbox" class="checkbox checkbox-accent"/>
                            </label>
                        </div>
                        <div class="filters__filter-option form-control">
                            <label class="cursor-pointer label flex gap-3">
                                <span class="label-text text-base">{{ 'Wild collected corals'|trans }}</span>
                                <input type="checkbox" class="checkbox checkbox-accent"/>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="mt-4 filter__range-slider">
                    <h3 class="font-bold">{{ 'Price' }}</h3>
                    <input type="range" min="0" max="100" value="100" class="range range-xs range-accent mt-2"/>
                    <div class="filter__range-slider-input grid grid-cols-3 mt-1">
                        <input type="number" value="0" class="input input-bordered input-accent input-sm w-full"/>
                        <div></div>
                        <input type="number" value="100" class="input input-bordered input-accent input-sm w-full"/>
                    </div>
                </div>
            </div>
            <div class="product_row grid grid-cols-4 gap-4 col-span-6 auto-rows-min">
                {% include 'catalog/_partials/product_list.html.twig' with {'items': category['products']['items']} %}
            </div>
        </div>
    </div>
{% endblock %}
