{% extends 'base.html.twig' %}

{% block title %}{{ 'Customer Account'|trans }}{% endblock %}

{% block body %}
    <div class="container mx-auto mt-10 grid grid-cols-12 gap-8">
        {% include 'customer/_partials/account_menu.html.twig' %}
        <div class="grow grid mt-4 auto-rows-min col-span-7">
            <div class="account__details-headers mb-4 grid justify-between items-center">
                <h2 class="text-3xl">{{ 'Your order: %orderNumber%'|trans({ '%orderNumber%': order['increment_id'] }) }}</h2>
                <small><a href="{{ path('app_customer_order_overview') }}">&lt; {{ 'Back to overview'|trans }}</a></small>
            </div>
            <div class="relative border border-solid border-base-300 rounded-box py-4 px-6 shadow-md">
                <div class="account__details-default-address gap-4 grid grid-cols-4 mt-4">
                    <div class="shipping_address col-span-2">
                        <h3 class="text-md block font-bold">{{ 'Shipping Address' }}</h3>
                        <strong class="block mt-2">{{ order['shipping_address']['firstname'] }} {{ order['shipping_address']['lastname'] }}</strong>
                        <span class="block">{{ order['shipping_address']['street']|join(' ') }}</span>
                        <span class="block">{{ order['shipping_address']['postcode'] }} {{ order['shipping_address']['city'] }}</span>
                        <span class="block">{{ order['shipping_address']['country_code'] }}</span>
                    </div>
                    <div class="billing_address col-span-2">
                        <h3 class="text-md block font-bold">{{ 'Billing Address' }}</h3>
                        <strong class="block mt-2">{{ order['shipping_address']['firstname'] }} {{ order['shipping_address']['lastname'] }}</strong>
                        <span class="block">{{ order['shipping_address']['street']|join(' ') }}</span>
                        <span class="block">{{ order['shipping_address']['postcode'] }} {{ order['shipping_address']['city'] }}</span>
                        <span class="block">{{ order['shipping_address']['country_code'] }}</span>
                    </div>
                </div>
                <div class="divider lg:divider-vertical"></div>
                <div class="order_items">
                    {% for item in order['items'] %}
                        <div class="grid grid-cols-6 gap-4 align-middle items-center">
                            <img src="{{ (['media/catalog/product', item['small_image']]|join)|cdn('auto', 'square', 72) }}" alt="{{ item['product_name'] }}">
                            <div class="col-span-2 description grid auto-rows-min">
                                <strong>{{ item['product_name'] }}</strong>
                                <span>{{ item['product_sku'] }}</span>
                            </div>
                            <span>{{ item['product_sale_price_incl_tax']['value']|format_currency(item['product_sale_row_total_incl_tax']['currency']) }}</span>
                            <span>{{ item['quantity_ordered'] }}</span>
                            <strong>{{ item['product_sale_row_total_incl_tax']['value']|format_currency(item['product_sale_row_total_incl_tax']['currency']) }}</strong>
                        </div>
                        <div class="divider lg:divider-vertical"></div>
                    {% endfor %}
                </div>
                <div class="order-totals flex justify-end">
                    <table>
                        {% for key, total in order['totals'] %}
                            {% if total %}
                                <tr class="{% if key == 'grand_total' %}border-t-2 border-solid{% endif %}">
                                    <td style="min-width: 8rem">
                                        {% if key =='grand_total' %}
                                            <strong>{{ key|trans }}</strong>
                                        {% else %}
                                            <span>{{ key|trans }}</span>
                                        {% endif %}
                                    </td>
                                    <td class="text-right">
                                        {% if key == 'grand_total' %}
                                            {% if total['value'] == 0 %}
                                                <strong class="text-success">{{ 'Free'|trans }}</strong>
                                            {% else %}
                                                <strong>{{ total['value']|format_currency(total['currency']) }}</strong>
                                            {% endif %}
                                        {% else %}
                                            {% if total['value'] == 0 %}
                                                <span class="text-success">{{ 'Free'|trans }}</span>
                                            {% else %}
                                                <span>{{ total['value']|format_currency(total['currency']) }}</span>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}