{% extends 'base.html.twig' %}

{% block title %}{{ 'Customer Account'|trans }}{% endblock %}

{% block body %}
    <div class="container mx-auto mt-10 grid grid-cols-12 gap-8">
        {% include 'customer/_partials/account_menu.html.twig' %}
        <div class="grow grid mt-4 auto-rows-min col-span-10">
            <div class="account__details-headers mb-4">
                <h2 class="text-3xl">{{ 'My orders'|trans }}</h2>
            </div>
            <div class="account__details-default-address gap-3 grid">
                {% if customerOrders is empty %}
                    <span>{{ 'No orders yet.'|trans }}</span><br/>
                    <a class="text-accent" href="{{ path('app_home') }}">{{ 'Click here to place your first order'|trans }}</a>
                {% else %}
                    {% for order in customerOrders %}
                        <div class="order_details flex gap-4 w-full justify-between mt-5">
                            <span>{{ 'Order number'|trans }}:&nbsp;<strong>{{ order['increment_id'] }}</strong></span>
                            <span>{{ 'Order date'|trans }}:&nbsp;<strong>{{ order['created_at']|date }}</strong></span>
                        </div>
                        <div class="order_items grid grid-cols-5 gap-5 mb-4">
                            {% for item in order['items'] %}
                                <a href="{{ path('app_customer_order_detail', {orderNumber: order['increment_id']}) }}" class="card bg-base-200 border border-solid border-base-300 rounded-box shadow-md">
                                    <figure>
                                        <img src="{{ (['media/catalog/product', item['small_image']]|join)|cdn('auto', 'square', 140) }}" alt="{{ item['product_name'] }}">
                                    </figure>
                                    <div class="card-body bg-base-100 px-4 py-4">
                                        <h4 class="card-title text-base">{{ item['product_name'] }}</h4>
                                        <p class="flex">
                                            <span class="grow text-sm">{{ item['status'] }}</span>
                                            <strong class="text-sm">{{ item['product_sale_price_incl_tax']['value']|format_currency(item['product_sale_row_total_incl_tax']['currency']) }}</strong>
                                        </p>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                        <div class="actions">
                            <a href="{{ path('app_customer_order_detail', {orderNumber: order['increment_id']}) }}">
                                {{ 'View order'|trans }} &raquo;
                            </a>
                        </div>
                        <div class="divider lg:divider-vertical" style="margin:0"></div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
