{# tailwindcss Sliding pagination control implementation #}
{% if pageCount > 1 %}
    <div class="btn-group">
        {% if first is defined and current != first %}
            <a href="{{ path(route, query|merge({(pageParameterName): first})) }}" class="btn btn-sm"><<</a>
        {% endif %}
        {% if previous is defined %}
            <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="btn btn-sm"><</a>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}" class="btn btn-sm">{{ page }}</a>
            {% else %}
                <span class="btn btn-sm btn-active">{{ page }}</span>
            {% endif %}
        {% endfor %}

        {% if next is defined %}
            <a href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="btn btn-sm">></a>
        {% endif %}

        {% if last is defined and current != last %}
            <a href="{{ path(route, query|merge({(pageParameterName): last})) }}" class="btn btn-sm">>></a>
        {% endif %}
    </div>
{% endif %}
