<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tropical Reefs ~ Under construction</title>
    <meta name="description" content="{% block description %}Shop top saltwater aquarium equipment at Tropical Reefs. We carry everything you will need for your saltwater aquarium or reef tank. {% endblock %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/assets/images/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/assets/images/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/assets/images/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('build/assets/images/favicon/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ asset('build/assets/images/favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="margin: 0; overflow: hidden">
<main class="w-full h-full">
    <video style="width: 100%; height: 100vh; object-fit: cover" autoplay muted loop>
        <source src="{{ asset('build/assets/videos/anemone2k.mp4') }}" type="video/mp4">
    </video>
</main>
</body>
</html>