<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tropical Reefs ~ Under construction</title>
    <meta name="description" content="{% block description %}Shop top saltwater aquarium equipment at Tropical Reefs. We carry everything you will need for your saltwater aquarium or reef tank. {% endblock %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/assets/images/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/assets/images/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/assets/images/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('build/assets/images/favicon/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ asset('build/assets/images/favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="maintenance">
<main class="w-full h-full">
    <video class="video-container fixed" autoplay muted loop>
        <source src="{{ asset('build/assets/videos/anemone2k.mp4') }}" type="video/mp4">
    </video>

    <div class="content absolute w-full h-full">
        <div class="flex justify-center items-center h-full">
            <div class="bg-base-200 rounded-box py-10 px-10 max-w-lg ">
                <h1 class="text-4xl">Tropical Reefs</h1>
                <p class="mt-6">{{ 'Welcome to Tropical Reefs, our website is currently under construction. We are preparing something amazing and exciting for you!'|trans }}</p>
                <p class="mt-8">{{ 'Do you want to get an update when the website is ready and keep up to date with the latest news?'|trans }}</p>
                <p class="mt-2">{{ 'Then fill in your email below and we will get back to you shortly.'|trans }}</p>

                <div class="register mt-4 grid gap-4">
                    <div class="input-group">
                        <input aria-label="Notify me" type="text" class="input input-md w-full input-bordered" placeholder="{{ 'Your email-address'|trans }}">
                        <button class="btn btn-md btn-accent">{{ 'Notify me'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>