{% extends 'base.html.twig' %}
{% set showDivider = true %}

{% block title %}{% endblock %}

{% block breadcrumbs %}
    <div class="container mx-auto">
        <div class="text-sm breadcrumbs">
            <ul>
                <li><a href="{{ path('app_home') }}"><i class="la la-home"></i></a></li>
                {#                <li><a href="{{ path('app_category') }}">{{ 'Coral'|trans }}</a></li> #}
                {#                <li><a href="{{ path('app_category') }}">{{ 'LPS Corals'|trans }}</a></li> #}
                {#                <li><a href="{{ path('app_category') }}">{{ 'Euphyllidae'|trans }}</a></li> #}
                <li>{{ 'Euphyllia ancora (Pinkish)'|trans }}</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container mx-auto mt-4">
        <div class="grid lg:grid-cols-5 gap-10 sm:grid-cols-1">
            <div class="product__images-container col-span-3">
                <div class="flex gap-2">
                    <div class="carousel carousel-vertical gap-2 h-full" style="max-height: 640px">
                        {% for image in product['media_gallery'] %}
                            <a href="#image_{{ loop.index }}" class="carousel-item">
                                <img style="aspect-ratio: 1" width="95" class="cursor-pointer thumbnail rounded-box" src="{{ image['url']|cdn('auto', 'square', 95) }}" alt="">
                            </a>
                        {% endfor %}
                    </div>
                    <div class="carousel rounded-box w-65" style="max-width: 640px;">
                        {% for image in product['media_gallery'] %}
                            <div id="#image_{{ loop.index }}" class="carousel-item w-full">
                                <img style="aspect-ratio: 1" width="640" src="{{ image['url']|cdn('fit', 'square', 640) }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
            <div class="product__details-container col-span-2">
                <div class="product__details-title grid">
                    <h1 class="text-4xl font-bold">{{ product['name']|replace({'(': "<br />", ')': ''})|raw }}</h1>
                    <div class="grid grid-cols-2">
                        <div class="grid">
                            <div class="product__details-review mt-1">
                                <div class="rating rating-sm block mx-1 float-left">
                                    {% for index in 0..4 %}
                                        <input disabled type="radio" name="rating-{{ index }}" class="mt-1 mask mask-star-2 bg-accent" {% if index == 3 %} checked {% endif %} />
                                    {% endfor %}
                                </div>
                                <a class="text-sm block mt-1 float-left ml-2" href="#reviews">120 reviews</a>
                            </div>
                            <div class="product__details-delivery block mt-3">
                                {{ 'Shipped in 5 - 10 working days' }}
                            </div>
                        </div>
                        <div class="mt-2 text-right grid mr-1">
                            {% if product['price_range']['minimum_price']['discount']['amount_off'] > 0 %}
                                <small class="grow product_row__from_price line-through text-md">
                                    &euro;{{ product['price_range']['minimum_price']['regular_price']['value'] }}
                                </small>
                            {% endif %}
                            <strong class="grow product_row__final_price text-5xl">
                                &euro;{{ product['price_range']['minimum_price']['final_price']['value'] }}
                            </strong>
                        </div>
                    </div>
                    {{ component('catalog_product_configuration', {
                        product: product,
                    }) }}
                    <div class="product__details-short-description mt-5 sm:hidden lg:block">
                        {{ product['short_description']['html']|raw }}
                        <a class="mt-3 text-accent" href="#product-description">{{ 'Read more'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider lg:divider-vertical" style="margin-top: 4rem" id="product-description">
        <h3 class="text-3xl font-bold">{{ 'Product description'|trans }}</h3>
    </div>
    <div class="container mx-auto mt-10">
        <div class="product__description grid grid-cols-3 gap-20">
            <div class="product__description-text col-span-2">
                {{ product['description']['html']|raw }}
            </div>
            <div class="product__description-text">
                <h3 class="text-xl font-bold">Characteristics</h3>
                <table class="table table-compact w-full mt-3">
                    {% for attribute in product['custom_attributes'] %}
                        {% if null != attribute['value'] %}
                            <tr>
                                <td class="font-bold">{{ attribute['label'] }}</td>
                                <td>{{ attribute['value'] }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="divider lg:divider-vertical" style="margin-top: 4rem">
        <h3 class="text-3xl font-bold">{{ 'Related products'|trans }}</h3>
    </div>
    <div class="container mx-auto">
        <div class="product_row grid grid-cols-5 gap-4 mt-10 col-span-6">
            {% include 'catalog/_partials/product_list.html.twig' with {'limit': 5, 'items': product['related_products']} %}
        </div>
    </div>
    <div id="reviews" class="divider lg:divider-vertical" style="margin-top: 4rem">
        <h3 class="text-3xl font-bold">{{ 'Product reviews'|trans }}</h3>
    </div>
{% endblock %}
