{% extends 'base.html.twig' %}

{% block title %}{{ product['name'] }}{% endblock %}

{% block breadcrumbs %}
    <div class="container mx-auto px-5 xl:px-0">
        <div class="text-sm breadcrumbs">
            <ul>
                <li>
                    <a href="{{ path('app_home') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"/>
                        </svg>
                    </a>
                </li>
                {% for breadcrumb in breadcrumbs ?? [] %}
                    {% if breadcrumb['active'] ?? false %}
                        <li>{{ breadcrumb['label']|trans }}</li>
                    {% else %}
                        <li>
                            <a href="/{{ breadcrumb['url'] }}">{{ breadcrumb['label']|trans }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="mb-20">
        <div class="container mx-auto mt-4 md:px-5 xl:px-0">
            <div class="grid lg:grid-cols-5 gap-10 sm:grid-cols-1">
                <div class="product__images-container col-span-3">
                    <div class="flex md:gap-2" style="max-width: 100vw">
                        {% if product['media_gallery']|length == 1 %}
                            {% for image in product['media_gallery'] %}
                                <div class="slide px-0 md:px-20 mx-auto">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="{{ image['url']|cdn('auto', 335, 335) }}">
                                        <source media="(max-width: 678px)" srcset="{{ image['url']|cdn('auto', 592, 592) }}">
                                        <source media="(max-width: 1024px)" srcset="{{ image['url']|cdn('auto', 414, 414) }}">
                                        <img style="aspect-ratio: 1" class="w-full" src="{{ image['url']|cdn('auto', 592, 592) }}" alt="">
                                    </picture>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="glide">
                                <div class="glide__track" data-glide-el="track">
                                    <ul class="glide__slides">
                                        {% for image in product['media_gallery'] %}
                                            <li class="glide__slide px-0 md:px-20">
                                                <picture>
                                                    <source media="(max-width: 640px)" srcset="{{ image['url']|cdn('auto', 335, 335) }}">
                                                    <source media="(max-width: 678px)" srcset="{{ image['url']|cdn('auto', 592, 592) }}">
                                                    <source media="(max-width: 1024px)" srcset="{{ image['url']|cdn('auto', 414, 414) }}">
                                                    <img style="aspect-ratio: 1" class="w-full" src="{{ image['url']|cdn('auto', 592, 592) }}" alt="">
                                                </picture>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="glide__arrows" data-glide-el="controls">
                                    <a data-glide-dir="<" class="l-0 glide__arrow glide__arrow--left">&#10094;</a>
                                    <a data-glide-dir=">" class="glide__arrow glide__arrow--right">&#10095;</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="product__details-container col-span-3 md:col-span-2 px-5 md:px-0">
                    <div class="product__details-title grid">
                        <h1 class="text-2xl md:text-4xl font-bold">{{ product['name']|replace({'(': "<br />", ')': ''})|raw }}</h1>
                        {{ component('catalog_product_configuration', {
                            product: product,
                        }) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="divider lg:divider-vertical" style="margin-top: 2rem" id="product-description">
            <h3 class="text-2xl md:text-3xl font-bold">{{ 'Product description'|trans }}</h3>
        </div>
        <div class="container mx-auto mt-10 px-5 xl:px-0">
            <div class="product__description grid md:grid-cols-3 grid-cols-1 md:gap-20 gap-5">
                <div class="product__description-text md:col-span-2">
                    {{ product['description']['html']|raw }}
                </div>
                <div class="product__description-text">
                    <h3 class="text-lg md:text-xl font-bold">{{ 'Characteristics'|trans }}</h3>
                    <table class="table table-compact w-full mt-3">
                        <tr>
                            <td class="font-bold">{{ 'SKU' }}</td>
                            <td>{{ product['sku'] }}</td>
                        </tr>
                        {% for attribute in product['custom_attributes'] %}
                            {% if null != attribute['value'] %}
                                <tr>
                                    <td class="font-bold">{{ attribute['label'] }}</td>
                                    <td>{{ attribute['value'] }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        {% if product['related_products']|length > 0 %}
            <div class="divider lg:divider-vertical" style="margin-top: 4rem">
                <h3 class="text-3xl font-bold">{{ 'Related products'|trans }}</h3>
            </div>
            <div class="container mx-auto">
                <div class="product_row grid grid-cols-5 gap-4 mt-10 col-span-6">
                    {% include 'catalog/_partials/product_list.html.twig' with {'limit': 5, 'items': product['related_products']} %}
                </div>
            </div>
        {% endif %}
        {% if false %}
            <div id="reviews" class="divider lg:divider-vertical" style="margin-top: 4rem">
                <h3 class="text-3xl font-bold">{{ 'Product reviews'|trans }}</h3>
            </div>
        {% endif %}
    </div>
    {% if product['media_gallery']|length > 1 %}
        {% block addtionalStylesheets %}
            {{ encore_entry_link_tags('glide') }}
        {% endblock %}
        {% block additionalScripts %}
            {{ encore_entry_script_tags('glide') }}
        {% endblock %}
    {% endif %}
{% endblock %}
