{% extends 'base.html.twig' %}

{% block title %}{{ product['name'] }}{% endblock %}

{% block breadcrumbs %}
    <div class="container mx-auto px-5 xl:px-0">
        <div class="text-sm breadcrumbs">
            <ul>
                <li>
                    <a aria-label="home" href="{{ path('app_home') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"/>
                        </svg>
                    </a>
                </li>
                {% for breadcrumb in breadcrumbs ?? [] %}
                    {% if breadcrumb['active'] ?? false %}
                        <li>{{ breadcrumb['label']|trans }}</li>
                    {% else %}
                        <li>
                            <a href="/{{ breadcrumb['url'] }}">{{ breadcrumb['label']|trans }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="mb-20">
        <div class="container mx-auto mt-4 md:px-5 xl:px-0">
            <div class="grid lg:grid-cols-5 gap-10 sm:grid-cols-1">
                <div class="product__images-container col-span-3">
                    <div class="flex md:gap-2" style="max-width: 100vw">
                        <ul class="gallery_images">
                            {% for image in mediaGallery %}
                                <li class="glide__slide px-0 md:px-20">
                                    <picture>
                                        {% for source in image['sources'] %}
                                            <source media="(max-width: {{ source['size'] }})" srcset="{{ source['url'] }}">
                                        {% endfor %}
                                        <img style="aspect-ratio: 1" class="w-full" src="{{ image['url'] }}" alt="">
                                    </picture>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="product__details-container col-span-3 md:col-span-2 px-5 md:px-0">
                    <div class="product__details-title grid">
                        <h1 class="text-2xl md:text-4xl font-bold">{{ product['name']|raw }}</h1>
                        <catalog-product-configuration :product="{{ product|json_encode }}">
                            <template v-slot:related-products>
                                {% include 'catalog/_partials/product_list.html.twig' with {'limit': 3, 'items': product['related_products']} %}
                            </template>
                            <template v-slot:popup-image>
                                <img height="120" width="120" src="{{ product['small_image']['url']|cdn('auto', 'square', 120) }}" alt="{{ product['name']|raw }}" />
                            </template>
                        </catalog-product-configuration>
                    </div>
                    <div class="divider lg:divider-vertical" style="margin-top: 4rem" id="product-description">
                        <h3 class="text-2xl md:text-3xl font-bold">{{ 'Product description'|trans }}</h3>
                    </div>
                    <div class="product__description">
                        <div class="product__description-text md:col-span-2">
                            {{ product['description']['html']|raw }}
                        </div>
                    </div>
                    <div class="divider lg:divider-vertical" style="margin-top: 4rem" id="product-characteristics">
                        <h3 class="text-2xl md:text-3xl font-bold">{{ 'Characteristics'|trans }}</h3>
                    </div>
                    <table class="table table-compact w-full mt-3">
                        <tr>
                            <td class="font-bold">{{ 'SKU' }}</td>
                            <td>{{ product['sku'] }}</td>
                        </tr>
                        {% for attribute in product['custom_attributes'] %}
                            {% if null != attribute['value'] %}
                                <tr>
                                    <td class="font-bold">{{ attribute['label'] }}</td>
                                    <td>{{ attribute['value'] }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>

                    {% if product['related_products']|length > 0 %}
                        <div class="divider lg:divider-vertical" style="margin-top: 2rem">
                            <h3 class="text-3xl font-bold">{{ 'Related products'|trans }}</h3>
                        </div>
                        <div class="container mx-auto">
                            <div class="product_row grid grid-cols-2 gap-4 mt-10 col-span-6">
                                {% include 'catalog/_partials/product_list.html.twig' with {'limit': 5, 'items': product['related_products']} %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if false %}
            <div id="reviews" class="divider lg:divider-vertical" style="margin-top: 4rem">
                <h3 class="text-3xl font-bold">{{ 'Product reviews'|trans }}</h3>
            </div>
        {% endif %}
    </div>
{% endblock %}
