{% extends 'base.html.twig' %}

{% block title %}{{ product['name'] }}{% endblock %}

{% block breadcrumbs %}
    <div class="container mx-auto px-5 xl:px-0">
        <div class="text-sm breadcrumbs">
            <ul>
                <li>
                    <a href="{{ path('app_home') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"/>
                        </svg>
                    </a>
                </li>
                {% for breadcrumb in breadcrumbs ?? [] %}
                    {% if breadcrumb['active'] ?? false %}
                        <li>{{ breadcrumb['label']|trans }}</li>
                    {% else %}
                        <li>
                            <a href="/{{ breadcrumb['url'] }}">{{ breadcrumb['label']|trans }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container mx-auto mt-4 px-5 xl:px-0">
        <div class="grid lg:grid-cols-5 gap-10 sm:grid-cols-1">
            <div class="product__images-container col-span-3">
                <div class="flex gap-2">
                    {% if product['media_gallery']|length == 1 %}
                        {% for image in product['media_gallery'] %}
                            <div class="slide">
                                <img style="aspect-ratio: 1" width="640" src="{{ image['url']|cdn('auto', 'square', 640) }}" alt="">
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="slideshow-container" id="product_image_slider">
                            {% for image in product['media_gallery'] %}
                                <div class="slide">
                                    <img style="aspect-ratio: 1" width="640" src="{{ image['url']|cdn('auto', 'square', 640) }}" alt="">
                                </div>
                            {% endfor %}
                            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                            <a class="next" onclick="plusSlides(1)">&#10095;</a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="product__details-container col-span-3 md:col-span-2">
                <div class="product__details-title grid">
                    <h1 class="text-2xl md:text-4xl font-bold">{{ product['name']|replace({'(': "<br />", ')': ''})|raw }}</h1>
                    {{ component('catalog_product_configuration', {
                        product: product,
                    }) }}
                </div>
            </div>
        </div>
    </div>
    <div class="divider lg:divider-vertical" style="margin-top: 2rem" id="product-description">
        <h3 class="text-2xl md:text-3xl font-bold">{{ 'Product description'|trans }}</h3>
    </div>
    <div class="container mx-auto mt-10 px-5 xl:px-0">
        <div class="product__description grid md:grid-cols-3 grid-cols-1 md:gap-20 gap-5">
            <div class="product__description-text md:col-span-2">
                {{ product['description']['html']|raw }}
            </div>
            <div class="product__description-text">
                <h3 class="text-lg md:text-xl font-bold">{{ 'Characteristics'|trans }}</h3>
                <table class="table table-compact w-full mt-3">
                    <tr>
                        <td class="font-bold">{{ 'SKU' }}</td>
                        <td>{{ product['sku'] }}</td>
                    </tr>
                    {% for attribute in product['custom_attributes'] %}
                        {% if null != attribute['value'] %}
                            <tr>
                                <td class="font-bold">{{ attribute['label'] }}</td>
                                <td>{{ attribute['value'] }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    {% if product['related_products']|length > 0 %}
        <div class="divider lg:divider-vertical" style="margin-top: 4rem">
            <h3 class="text-3xl font-bold">{{ 'Related products'|trans }}</h3>
        </div>
        <div class="container mx-auto">
            <div class="product_row grid grid-cols-5 gap-4 mt-10 col-span-6">
                {% include 'catalog/_partials/product_list.html.twig' with {'limit': 5, 'items': product['related_products']} %}
            </div>
        </div>
    {% endif %}
    {% if false %}
        <div id="reviews" class="divider lg:divider-vertical" style="margin-top: 4rem">
            <h3 class="text-3xl font-bold">{{ 'Product reviews'|trans }}</h3>
        </div>
    {% endif %}

    {% if product['media_gallery']|length != 1 %}
        <script>
            let slideIndex = 1;
            showSlides(slideIndex);

            function plusSlides(n) {
                showSlides(slideIndex += n);
            }

            function currentSlide(n) {
                showSlides(slideIndex = n);
            }

            function showSlides(n) {
                let slides = document.getElementById("product_image_slider").querySelectorAll('.slide');
                // dots[slideIndex - 1].className += " active";
                // let dots = document.getElementsByClassName("dot");
                if (n > slides.length) {
                    slideIndex = 1
                }
                if (n < 1) {
                    slideIndex = slides.length
                }
                for (let i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                // for (i = 0; i < dots.length; i++) {
                //     dots[i].className = dots[i].className.replace(" active", "");
                // }
                slides[slideIndex - 1].style.display = "block";
            }
        </script>
    {% endif %}
{% endblock %}
