{% extends 'base.html.twig' %}

{% block title %}{{ 'Customer Account'|trans }}{% endblock %}

{% block body %}
    <div class="container mx-auto mt-10 grid grid-cols-12 gap-8">
        {% include 'customer/_partials/account_menu.html.twig' %}
        <div class="grow grid grid-cols-3 mt-4 auto-rows-min col-span-10">
            <div class="messages_container col-span-3">
                {% for error in app.flashes('error') %}
                    <div class="alert alert-error shadow-md alert-sm mb-4 focus:bg-accent">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                            </svg>
                            <span>{{ error['message'] }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="account__details-headers col-span-3 mb-4 flex justify-between">
                <h2 class="text-3xl">{{ 'Addresses'|trans }}</h2>
                <a href="{{ path('app_customer_address_create') }}" class="btn btn-accent text-accent-content btn-sm px-4">
                    {{ 'Create a new address'|trans }}
                </a>
            </div>
            <div class="account__details-default-address col-span-3">
                {% if customerData['addresses'] is empty %}
                    <span>{{ 'No addresses yet.'|trans({type: 'shipping'|trans}) }}</span><br/>
                    <a class="text-accent" href="{{ path('app_customer_address_create') }}">{{ 'Click here to create your first address'|trans }}</a>
                {% else %}
                    <div class="addresses grid gap-5 grid-cols-3">
                        {% for address in customerData['addresses'] %}
                            <div class="account__details-default-address-shipping relative border border-solid border-base-300 rounded-box py-4 px-6 shadow-md">
                                <strong class="block">{{ address['firstname'] }} {{ address['lastname'] }}</strong>
                                <span class="block">{{ address['company'] }}</span>
                                <span class="block">{{ address['street']|join(' ') }}</span>
                                <span class="block">{{ address['postcode'] }}, {{ address['city'] }}</span>
                                <span class="block">{{ address['country_code'] }}</span>
                                <div class="btn-group absolute right-2 bottom-2">
                                    <a
                                            href="{{ path('app_customer_address_update', {'addressId': address['id']}) }}"
                                            class="btn btn-accent btn-sm"
                                    >{{ 'Edit'|trans }}</a>
                                    <a
                                            href="{{ path('app_customer_address_delete', {'addressId': address['id']}) }}"
                                            class="btn btn-error btn-sm"
                                    >{{ 'Delete'|trans }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
