<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tropical Reefs - {% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}Shop top saltwater aquarium equipment at Tropical Reefs. We carry everything you will need for your saltwater aquarium or reef tank. {% endblock %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron:200,300,400,500,600,700">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/assets/images/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/assets/images/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/assets/images/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('build/assets/images/favicon/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ asset('build/assets/images/favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% include '_partials/header.html.twig' %}
<main class="mt-4">
    {% block breadcrumbs %}{% endblock %}
    {% block body %}{% endblock %}
</main>
{% include '_partials/footer.html.twig' %}
</body>
</html>

<script>
    const stickNav = document.getElementById('sticky-nav');
    const sticky = stickNav.offsetTop;

    const stickyTotals = document.getElementById('sticky-totals');
    const stickTotals = null !== stickyTotals ? stickyTotals.offsetTop : 0;

    addEventListener('scroll', () => {
        handleStickyHeader();
        if (null !== stickyTotals) {
            handleStickyTotals();
        }
    });

    function handleStickyHeader() {
        if (window.scrollY > sticky) {
            stickNav.classList.add("fixed");
        } else {
            stickNav.classList.remove("fixed");
        }
    }

    function handleStickyTotals() {
        if (window.scrollY > stickTotals) {
            stickyTotals.classList.add("sticky");
        } else {
            stickyTotals.classList.remove("sticky");
        }
    }
</script>