<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tropical Reefs - {% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}Shop top saltwater aquarium equipment at Tropical Reefs. We carry everything you will need for your saltwater aquarium or reef tank. {% endblock %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/assets/images/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/assets/images/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/assets/images/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('build/assets/images/favicon/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ asset('build/assets/images/favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <script async="" id="truendoAutoBlock" type="text/javascript" src="https://cdn.priv.center/pc/truendo_cmp.pid.js" data-siteid="24666d8a-5835-49e2-b752-affc3ef9075e"></script>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5NZKBCF');</script>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body id="mainContent">
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5NZKBCF" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
{% include '_partials/header.html.twig' %}
<main class="mt-4">
    {% block breadcrumbs %}{% endblock %}
    {% block body %}{% endblock %}
</main>
{% include '_partials/footer.html.twig' %}
</body>
</html>