<div class="product__details-configuration mt-5" {{ attributes }}>
    {% if this.addToCartResponse is not empty %}
        <div class="product__details-configuration_messages">
            {% if this.addToCartResponse['user_errors'] is empty %}
                <div class="toast z-50 toast-top">
                    <div class="alert alert-success">
                        <div>
                            <span>{{ 'Succesfully added product to cart'|trans }}</span>
                        </div>
                    </div>
                </div>
            {% else %}
                {% for error in this.addToCartResponse['user_errors'] %}
                    <div class="toast z-50 toast-top">
                        <div class="alert alert-error">
                            <div>
                                <span>{{ error['message']|trans }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}
    <div class="grid gap-4">
        {% if product['type_id'] == 'configurable' %}
            {% for attribute in product['configurable_options'] %}
                <strong class="block">{{ 'Select a ' }}{{ attribute['label']|lower }}:</strong>
                <div class="product__details-configuration-items grid grid-cols-7 gap-2">
                    {% for value in attribute['values'] %}
                        <label
                                for="{{ value['uid'] }}"
                                class="cursor-pointer product__details-configuration-item {% if selectedSize ==  value['uid'] %} __active  {% endif %}"
                        >
                            <input
                                    class="hidden"
                                    type="radio"
                                    id="{{ value['uid'] }}"
                                    name="{{ attribute['attribute_uid'] }}"
                                    value="{{ value['uid'] }}"
                                    data-model="selectedSize"
                            >
                            <span class="block py-2 text-center">
                                {{ value['store_label'] }}
                            </span>
                        </label>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="grid grid-cols-8 gap-4 mt-4 sm:grid-cols-3">
        <div class="grid lg:grid-cols-1 gap-4">
            <select required name="qty" id="qty" class="select select-accent col-span-2 sm:col-span-1" data-model="selectedQty">
                {% for index in 1..qtySelectorLimit %}
                    <option value="{{ index }}" {% if index == selectedQty %}selected {% endif %}>{{ index }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-span-5 grid grid-cols-2 gap-3 sm:col-span-2">
            <button
                    class="col-span-2 btn btn-outline btn-accent flex"
                    data-action="click->live#action"
                    data-action-name="addProductToCart"
            >
                <span class="grow">{{ 'Add to cart'|trans }}</span>
                <i class="la la-cart-plus la-2x" style="margin-right: 5px"></i>
            </button>
            <button class="btn btn-sm btn-outline btn-error">
                <span class="grow">{{ 'Add to wishlist'|trans }}</span>
            </button>
            <button class="btn btn-sm btn-outline btn-info">
                <span class="grow">{{ 'Share'|trans }}</span>
                <i class="la la-share" style="margin-right: 5px"></i>
            </button>
        </div>
    </div>
</div>

