<div {{ attributes }} class="grid border border-base-300 border-solid rounded-box py-8 px-6 shadow-md">
    <h3 class="text-xl">{{ 'Personal information'|trans }}</h3>
    {{ form_start(form, {attr: {
        class: 'grid gap-4 mt-4',
    }}) }}
    {{ form_errors(form) }}
    {{ form_widget(form.email) }}
    {{ form_widget(form.firstname) }}
    {{ form_widget(form.lastname) }}
    <input
            type="submit"
            class="btn btn-accent self-end"
            value="{{ 'Save'|trans }}"
            data-action="click->live#action"
            data-action-name="prevent|saveSettings"/>
    {{ form_end(form) }}
</div>