<div class="border-gray-300 border md:grid grid-cols-5 gap-2 py-5 px-5 shadow-md rounded-box overflow-hidden">
    <div class="flex col-span-2 gap-5 border-solid">
        <img class="-my-5 -ml-5 block float-left" width="144" src="{{ item['product']['small_image']['url']|cdn('auto', 'square', 144) }}" alt="{{ item['product']['name'] }}"/>
        <div class="grow">
            <a href="/{{ item['product']['url_key'] }}"><strong class="block text-lg">{{ item['product']['name']|replace({'(': "<br />", ')': ''})|raw }}</strong></a>
            <span class="block">SKU: {{ item['product']['sku'] }}</span>
            {% for option in item['configurable_options'] %}
                <span class="block">{{ option['option_label'] }}: {{ option['value_label'] }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="m-auto">
        <span>&euro;{{ item['prices']['price']['value'] }}</span>
    </div>
    <div class="flex gap-2 m-auto">
        <form action="{{ path('app_checkout_cart_update', {uid: item['uid']}) }}" method="post">
            <input type='hidden' name='_method' value='PUT'>
            <select
                    required
                    name="qty"
                    id="qty"
                    class="select select-accent col-span-2 sm:col-span-1"
                    aria-label="qty"
                    onchange="this.form.submit()"
            >
                {% for index in 1..10 %}
                    <option value="{{ index }}" {% if index == item['quantity'] %}selected {% endif %}>{{ index }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    <div class="flex">
        <strong class="grow text-center m-auto">&euro;{{ item['prices']['row_total_including_tax']['value'] }}</strong>
        <form action="{{ path('app_checkout_cart_delete', {uid: item['uid']}) }}" method="post" class="flex">
            <input type='hidden' name='_method' value='DELETE'>
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 m-auto cursor-pointer">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"/>
                </svg>
            </button>
        </form>
    </div>
</div>